@media (max-width: 449px) {
    .vp-small {
        max-width: 100%;
    }
  }
  @media (min-width: 450px) {
    .vp-medium {
        max-width: 100%;
    }
  }
  @media (min-width: 800px) {
    .vp-large {
        max-width: 100%;
    }
  }

  picture {
      float: left;
  }
  p {
      overflow: auto;
  }