/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Gunther Schurr
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */
/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */  
@import url('/weather/css/normalize.css');
/* 1.2 Google Font Import */ 
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. GENERAL STYLE RULES */
/* 2.1 TYPE */

h1, h2, h3, h4, h5, h6{
    font-family: sansita, sans-serif;
}

body{
    font-family: helvetica, sans-serif;
    font-size: 18px;
}
header {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.site-brand {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
}

#logo {
    width: 2em;
    margin: 0;
    padding: 0;
}

#locNameInfo ul li { 
    display: inline-block; 
    list-style: none;
    margin-right: 0px;
    padding-right: 0px;
}

#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('/weather/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
    margin-top: 50px;
}

.n {
    transform: rotate(0deg);
}
.ne {
    transform: rotate(45deg);
}
.e {
    transform: rotate(90deg);
}
.se {
    transform: rotate(135deg);
}
.s {
    transform: rotate(180deg);
}
.sw {
    transform: rotate(225deg);
}
.w {
    transform: rotate(270deg);
}
.nw {
    transform: rotate(315deg);
}
#wind-speed {
    position: relative;
    top: -107px;  
}
#direction {
    margin-top: 0px;
}

/* 2.2 Weather boxi */
#locName{
    font-weight: 100;
    margin-left: 10px;
}
.highlow{
    display: inline-block;
}

#h {
    color:red;
    display: inline-block;
}
#l {
    color:blue;
    display: inline-block;
}
#currentTemp {
    font-size:50px;
}

html {
    box-sizing: border-box;
}
   
*, *:before, *:after {
    box-sizing: inherit;
}
.tile {
    background-color: lightgray;
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align:center;
  } 

/* border: 270px */
/* margin: 5px */

.tile h2 {
    display:none;
}
#rain-title {
    display: initial;
    display: flex;
    justify-content: center;
    margin: 0;
}

.clear {
    background-image: url("/weather/images/clear-small.jpg");
}
.clouds {
    background-image: url("/weather/images/clouds-small.jpg");
}
.fog {
    background-image: url("/weather/images/fog-small.jpg");
}
.rain {
    background-image: url("/weather/images/rain-small.jpg");
}
.snow {
    background-image: url("/weather/images/snow-small.jpg");
}


#bp {
    list-style: none;
}

/* .hide {
    display: none;
}

.show {
    display: initial;
} */


/* 2.3 Navigation */

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 46px;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1em 1vw;
    text-decoration: none;
    font-size: 0.9em;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: black;
    color: white;
}

/* 2.4 Footer */
#page-footer{
    margin-bottom:4em;
   }

/* 2.6 Local */
#locationInfo ul li { 
    display: inline-block; 
    list-style: none;
    margin: 0px;
    padding: 5px;
    font-size: 15px;
  }
#locationName {
    font-weight: 100;
    margin: 0px;
    padding: 5px;
}
#locationInfo ul {
    padding-left:0px;
}

#hourly ul {
    list-style: none;
    padding: 0px;
}


.hide {
    display: none;
}

/* 4. Larger Screen Rules */

@media screen and (min-width: 720px) {
    /* All CSS rules for large screens go here */

.navbar{
    position: sticky;
    top: 3em;
    margin: 5px;
}

#curWeather {
    display: flex;
}

#curWeather .tile {
    width: 30%;
}
.tile h2 {
    display: initial;
}
#hourly ul {
    display: flex;
    overflow-x: auto;
}
#hourly li {
    flex-shrink: 0;
    border-right: 1px solid black;
    padding: 0 10px;
    list-style: none;
}
#hourly li:last-child {
    border-right: none;
}

#pointer{
    background-size: 40%;
    padding: 80px;
}

hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 2px solid black;
    margin: 1em 0;
    padding: 0;
}

#rain {
    width: auto;
    height: 18vw;
}
.clear {
    background-image: url("/weather/images/clear-small.jpg");
}
.clouds {
    background-image: url("/weather/images/clouds-small.jpg");
}
.fog {
    background-image: url("/weather/images/fog-small.jpg");
}
.rain {
    background-image: url("/weather/images/rain-small.jpg");
}

.snow {
    background-image: url("/weather/images/snow-small.jpg");

/* #hourly-temps li{
    flex-shrink: 0;
    border-right: 1px solid blue;
    padding:0 10px;
}
#hourly-temps li:last-child{
    border-right: none;
} */

}
}