/* This is for screened devices*/


/* Import statements */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* general style rules */
h1, h2, h3, h4, h5, h6{
    font-family: sansita, sans-serif;
}

body{
    font-family: helvetica, sans-serif;
    font-size: 18px;
}

.site-brand{
    font-size: 5vw;
}